*,
*::before,
*::after {
  box-sizing: border-box;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 4em;
  font-weight: 900;
  line-height: 0.9em;
}
p {
  margin: 0;
  color: #a9b1b3;
}
a {
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: #a9b1b3;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  border: 1px solid #a9b1b3;
  transition: all 0.3s ease-in;
}
a:hover,
a:active,
a:focus {
  color: #ffffff;
  background-color: #a9b1b3;
}
figure {
  margin: 0;
}
::-moz-selection {
  color: #ffffff;
  background-color: #d0f2ee;
  text-shadow: none;
}
::selection {
  color: #ffffff;
  background-color: #d0f2ee;
  text-shadow: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  line-height: 1.6;
  color: black;
  background-color: #ffffff;
}
@media (min-width: 20em) {
  body {
    font-size: 102.5%;
  }
}
@media (min-width: 30em) {
  body {
    font-size: 105%;
  }
}
@media (min-width: 54em) {
  body {
    font-size: 107.5%;
  }
}
@media (min-width: 64em) {
  body {
    font-size: 110%;
  }
}
@media (min-width: 76.5em) {
  body {
    font-size: 115%;
  }
}
@media (min-width: 114em) {
  body {
    font-size: 125%;
  }
}
.post {
  min-height: 100vh;
  width: 100%;
  border: 0.5 solid #ffffff;
}
@media (min-width: 54em) {
  .post {
    display: flex;
    height: 100vh;
    min-height: 40em;
  }
}
.post > *:first-child {
  position: relative;
  height: 14em;
  background-color: black;
}
@media (min-width: 30em) {
  .post > *:first-child {
    height: 18em;
  }
}
@media (min-width: 54em) {
  .post > *:first-child {
    flex-basis: 50%;
    max-width: 50%;
    height: auto;
  }
}
@media (min-width: 76.5em) {
  .post > *:first-child {
    flex-basis: 60%;
    max-width: 60%;
  }
}
@media (min-width: 54em) {
  .post > *:last-child {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 76.5em) {
  .post > *:last-child {
    flex-basis: 40%;
    max-width: 40%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  overflow-y: auto;
}
.post_time {
  position: relative;
  font-weight: 600;
  font: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  overflow: hidden;
}
.post_content {
  padding: 2em 0;
}
@media (min-width: 54em) {
  .post_content {
    padding: 0 4em;
  }
}

post_header span {
  display: inline-block;
  -webkit-animation: slide-up 0.8s ease-in-out both;
  animation: slide-up 0.8s ease-in-out both;
}
.post_header span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.post_header span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.post_header span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.post_text {
  font-weight: 300;
  -webkit-animation: fade-in 0.8s ease-in-out both 0.5s;
  animation: fade-in 0.8s ease-in-out both 0.5s;
}
.post_link {
  text-align: right;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-animation: fade-in 0.8s ease-in-out both 1s;
  animation: fade-in 0.8s ease-in-out both 1s;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-up {
  0% {
    background-color: red;
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
  33% {
    background-color: blue;
    opacity: 0.75;
    -webkit-transform: scale(1.1) rotate(-5deg);
  }
  67% {
    background-color: green;
    opacity: 0.5;
    -webkit-transform: scale(1.1) rotate(5deg);
  }
  100% {
    background-color: red;
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}

.pulsedbox {
  -webkit-animation-name: slide-up;
  -webkit-animation-duration: 4s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}
footer {
  text-align: center;
}
